In [1]:
type(True)

bool

In [2]:
#Inbuilt functions

In [2]:
my_str="Shailaja12"

In [15]:
#print(my_str.isalnum())#check if all char are numbers

In [3]:
my_str.isalnum()

True

In [6]:
#print(my_str.isalpha())#checks if all char in the string are alphabetic

In [4]:
my_str.isalpha()

False

In [6]:
my_str.istitle()#string contains a title

True

In [7]:
my_str.isupper()

False

In [8]:
my_str.islower()

False

In [9]:
my_str.startswith("S")

True

In [10]:
my_str.endswith("a")

False

In [11]:
True or False

True

In [12]:
True or True

True

In [13]:
True and False

False

In [15]:
#most important data structure in Python is the Lists
#lists are defined by values inside square brackets

In [16]:
list_eg=[]

In [17]:
type(list_eg)

list

In [18]:
type([])

list

In [19]:
#inbuilt list function list()

In [20]:
lst=list()

In [21]:
type(lst)

list

In [24]:
lst=["math",20,2,"a"]

In [25]:
# .append is used to add items to a list

In [26]:
lst.append("chem")

In [90]:
print(lst)

[1, 8, 9, ['science', 'social']]

In [28]:
len(lst)

5

In [29]:
##Indexing in lists, it starts with 0
##Indexing with range of values-uses colon

In [30]:
lst[0]

'math'

In [32]:
lst[3]

'a'

In [33]:
lst[:]

['math', 20, 2, 'a', 'chem']

In [34]:
lst[1:3]

[20, 2]

In [35]:
lst[:3]

['math', 20, 2]

In [36]:
##Nested list, using append add a list inside a list

In [88]:
lst.append(["science","social"])

In [89]:
lst

[1, 8, 9, ['science', 'social']]

In [42]:
#add elements on a specific index using insert function

In [43]:
lst.insert(2,"pen")

In [87]:
lst

[1, 8, 9]

In [83]:
lst.extend([8,9])

In [86]:
lst

[1, 8, 9]

In [47]:
##Inbuilt functions - sum,pop

In [84]:
sum(lst)

18

In [73]:
lst=[1,2,3]

In [74]:
sum(lst)

6

In [75]:
lst.pop()

3

In [76]:
lst.pop(1)

2

In [77]:
#first occurance at an index for a particular character

In [78]:
lst.index(1)

0

In [80]:
lst.index("2")

ValueError: '2' is not in list

In [81]:
lst*2

[1, 1]