In [1]:
#Set is an unordered colection of data type that is iterable, mutable and has no duplicate elements.
#Pythons set class represents mathematical notion of a set
#It is based on a data structure called hash table

In [3]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [4]:
#Flower braces are used for sets

In [6]:
set_var={"tome","jerry"}
print(set_var)
print(type(set_var))

{'tome', 'jerry'}
<class 'set'>

In [7]:
#No duplicates in sets

In [8]:
set_var={1,2,3,1}

In [9]:
set_var

{1, 2, 3}

In [10]:
#Sets do not support indexing

In [11]:
set_var[0]

TypeError: 'set' object is not subscriptable

In [12]:
#Inbuilt function to add elemnts to a set

In [13]:
set_var.add("hulk")

In [14]:
set_var

{1, 2, 3, 'hulk'}

In [15]:
#To find more inbuilt functions type set_var.+tab

In [16]:
set_var.difference_update

In [17]:
set1={"tom","jerry","tweety"}
set2={"popoye","bluto","tweety"}

In [18]:
#Difference is common elemnts in sets gets removed

In [19]:
set2.difference(set1)

{'bluto', 'popoye'}

In [20]:
set2

{'bluto', 'popoye', 'tweety'}

In [21]:
set2.difference_update(set1)

In [22]:
set2

{'bluto', 'popoye'}

**DICTIONARIES ARE UNORDERED, CHANGEABLE AND INDEXED COLLECTIONS**
**THEY CONTAIN KEYS AND VALUES**
**THEY ARE REPRESENTED USING FLOWER BRACKETS**

In [23]:
dic={}

In [24]:
type(dic)

dict

In [25]:
#do not give values like in sets in dictionaries

In [26]:
dic={"car1":"audi","car2":"benz"}

In [28]:
dic

{'car1': 'audi', 'car2': 'benz'}

In [29]:
#Inbuilt function for dictionary is dict

In [31]:
type(dict())

dict

In [39]:
my_dic=dict()

In [42]:
my_dic

{}

In [43]:
type(my_dic)

dict

In [44]:
dic["car1"]

'audi'

In [45]:
#Indexing here is not done with numbers but rather with the Key value

In [46]:
dic["car2"]

'benz'

In [47]:
#We can loop through dictionary keys

In [48]:
for x in dic:
    print(x)

car1
car2

In [49]:
#we can loop through dictionary values using .values()

In [51]:
for x in dic.values():
    print(x)

audi
benz

In [52]:
#We can also check both keys and values using .items()

In [53]:
for x in dic.items():
    print(x)

('car1', 'audi')
('car2', 'benz')

In [54]:
#adding items to dictionaries

In [55]:
dic["car3"]="Maruthi"

In [56]:
dic

{'car1': 'audi', 'car2': 'benz', 'car3': 'Maruthi'}

In [57]:
#changing the items values

In [58]:
dic["car1"]="toyota"

In [59]:
dic

{'car1': 'toyota', 'car2': 'benz', 'car3': 'Maruthi'}

**Nested Dictionaries**
Values can be given as seperate dictionaries

In [70]:
car1_model={"mercedes":1960}
car2_model={"benz":1970}
car3_model={"audi":1980}

In [76]:
car_type={"car1":car1_model,"car2":car2_model,"car3":car3_model}
print(car_type)

{'car1': {'mercedes': 1960}, 'car2': {'benz': 1970}, 'car3': {'audi': 1980}}

**Accessing items in the dictionary**

In [77]:
#use key's to access items in the dictionary, as indexing is not done with numbers

In [78]:
print(car_type["car1"])

{'mercedes': 1960}

In [79]:
#nested indexing

In [80]:
print(car_type["car1"]["mercedes"])

1960

**Tuples**

In [81]:
#Tuple is not a new table. Once created elemnts of tuples cannot be changed
#It uses round braces

In [82]:
my_tuple=tuple()

In [83]:
#Inbuilt tuple funcion

In [84]:
type(my_tuple)

tuple

In [85]:
my_tuple=("ankur","shailu")

In [86]:
my_tuple

('ankur', 'shailu')

In [87]:
#Tuples are indexed with numbers

In [88]:
my_tuple[0]

'ankur'

In [89]:
#Tuples do not support items replacement

In [90]:
my_tuple[0]="kaushik"

TypeError: 'tuple' object does not support item assignment

In [92]:
#WHole tuple can be replaced with a new one but elements cannot be reassigned
#Tuples are used where you want to define an item only once